@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12 center-block">
        <center>
            <img src="~/images/Captura.JPG" class="img-responsive"/>
        </center>
    </div>
</div>
